.container {
    background-image: linear-gradient(rgba(34,41,51,255), rgba(23,30,40,255));
    width: 320px;
    padding: 25px;
    border-radius: 20px;
    text-align: left;
    
}

.logo {
    text-align: left;
    padding: 15px;
    background-color: rgba(39,46,56,255);
    border-radius: 50%;
    margin-bottom: -10px;
}

.title {
    color: white
}

.description {
    
    color: gray;
    font-size: 14px;
}

.buttonContainer {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.buttonNum {
    background-color: rgba(38,46,56,255);
    border-radius: 50%;
    color: gray;
    font-size: 14px;
    width:50px;
    height:50px;
    
}

.buttonNum:hover {
    background-color: #7d8898;
    color: white;
    border:none;
}

.buttonNum:focus{
    background-color: rgba(250,119,21,255);
    border:none;
    color:white;
}

.buttonSubmit {
    background-color: rgba(250,119,21,255);
    width: 100%;
    border-radius: 25px;
    color: white;
    font-size: 14px;
    padding: 15px
}

.buttonSubmit:active{
    background-color: white;
    color: rgba(250,119,21,255);
}