.container {
    width: 320px;
    background-image: linear-gradient(rgba(34,41,51,255), rgba(23,30,40,255));
    padding: 30px;
    border-radius: 25px;
   
   
}

.result {
    color: rgba(250,119,21,255);
    background-color: rgba(38,46,56,255);
    border-radius: 15px;
    margin-bottom: 15px;
    font-size: 12px;
    padding: 5px;
    display: inline-block;
    width: 55%;
    
}

img {
    margin-bottom: 15px;
    width: auto;
    max-width: 100%;
    height: auto;
}

.thankYou {
    color: white;
}

.description {
    
    color: gray;
    font-size: 14px;
}